<div class="register-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Nome de Usuário</label>
      <input id="username" formControlName="username" type="text" />
    </div>
    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" />
    </div>
    <div>
      <label for="password">Senha</label>
      <input id="password" formControlName="password" type="password" />
    </div>
    <div>
      <label for="confirmPassword">Confirmar Senha</label>
      <input id="confirmPassword" formControlName="confirmPassword" type="password" />
    </div>
    <div *ngIf="registerError" class="error-message">{{ registerError }}</div>
    <button type="submit">Registrar</button>
  </form>
  <button (click)="redirectToLogin()">Já tem uma conta? Faça login</button>
</div>